.cpel-switcher__switcher {
    --cpel-switcher-espace: 0;
}

.cpel-switcher__switcher .cpel-switcher__list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cpel-switcher--layout-vertical .cpel-switcher__switcher {
    display: block;
}

.cpel-switcher--layout-horizontal .cpel-switcher__switcher {
    display: flex;
}

.cpel-switcher--layout-vertical .cpel-switcher__list {
    display: block;
}

.cpel-switcher--layout-horizontal .cpel-switcher__list {
    display: flex;
    flex-wrap: wrap;
}

.cpel-switcher--layout-horizontal .cpel-switcher__lang {
    margin: 0;
}

.cpel-switcher--layout-horizontal .cpel-switcher__lang:not(:last-child) {
    margin-right: var(--cpel-switcher-espace);
}

body.rtl .cpel-switcher--layout-horizontal .cpel-switcher__lang:not(:last-child) {
    margin-left: var(--cpel-switcher-espace);
}

.cpel-switcher--layout-vertical .cpel-switcher__lang:not(:last-child) {
    margin-bottom: var(--cpel-switcher-espace);
}

@media (max-width: 1024px) {

    .cpel-switcher--tablet-layout-vertical .cpel-switcher__list {
        display: block;
    }

    .cpel-switcher--tablet-layout-horizontal .cpel-switcher__list {
        display: flex;
        flex-wrap: wrap;
    }

    .cpel-switcher--tablet-layout-horizontal .cpel-switcher__lang:not(:last-child) {
        margin: 0 var(--cpel-switcher-espace) 0 0;
    }

    body.rtl .cpel-switcher--tablet-layout-horizontal .cpel-switcher__lang:not(:last-child) {
        margin: 0 0 0 var(--cpel-switcher-espace);
    }

    .cpel-switcher--tablet-layout-vertical .cpel-switcher__lang:not(:last-child) {
        margin: 0 0 var(--cpel-switcher-espace) 0;
    }

}

@media (max-width: 767px) {

    .cpel-switcher--mobile-layout-vertical .cpel-switcher__list {
        display: block;
    }

    .cpel-switcher--mobile-layout-horizontal .cpel-switcher__list {
        display: flex;
        flex-wrap: wrap;
    }

    .cpel-switcher--mobile-layout-horizontal .cpel-switcher__lang:not(:last-child) {
        margin: 0 var(--cpel-switcher-espace) 0 0;
    }

    body.rtl .cpel-switcher--mobile-layout-horizontal .cpel-switcher__lang:not(:last-child) {
        margin: 0 0 0 var(--cpel-switcher-espace);
    }

    .cpel-switcher--mobile-layout-vertical .cpel-switcher__lang:not(:last-child) {
        margin: 0 0 var(--cpel-switcher-espace) 0;
    }

}

.cpel-switcher__switcher a {
    display: flex;
    align-items: center;
}

.cpel-switcher--align-right .cpel-switcher__list {
    margin-left: auto;
    margin-right: 0;
}

.cpel-switcher--align-right .cpel-switcher__list>li>a {
    justify-content: flex-end;
}

.cpel-switcher--align-left .cpel-switcher__list {
    margin-left: 0;
    margin-right: auto;
}

.cpel-switcher--align-left .cpel-switcher__list>li>a {
    justify-content: flex-start;
}

.cpel-switcher--align-center .cpel-switcher__list {
    margin-left: auto;
    margin-right: auto;
}

.cpel-switcher--align-center .cpel-switcher__list>li>a {
    justify-content: center;
}

.cpel-switcher--align-justify .cpel-switcher__list {
    width: 100%;
}

.cpel-switcher--align-justify .cpel-switcher__list>li {
    flex-grow: 1;
}

.cpel-switcher--align-justify .cpel-switcher__list>li>a {
    justify-content: center;
}

@media (max-width: 1024px) {

    .cpel-switcher--tablet-align-right .cpel-switcher__list {
        margin-left: auto;
        margin-right: 0;
    }

    .cpel-switcher--tablet-align-right .cpel-switcher__list>li>a {
        justify-content: flex-end;
    }

    .cpel-switcher--tablet-align-left .cpel-switcher__list {
        margin-left: 0;
        margin-right: auto;
    }

    .cpel-switcher--tablet-align-left .cpel-switcher__list>li>a {
        justify-content: flex-start;
    }

    .cpel-switcher--tablet-align-center .cpel-switcher__list {
        margin-left: auto;
        margin-right: auto;
    }

    .cpel-switcher--tablet-align-center .cpel-switcher__list>li>a {
        justify-content: center;
    }

    .cpel-switcher--tablet-align-justify .cpel-switcher__list {
        width: 100%;
    }

    .cpel-switcher--tablet-align-justify .cpel-switcher__list>li {
        flex-grow: 1;
    }

    .cpel-switcher--tablet-align-justify .cpel-switcher__list>li>a {
        justify-content: center;
    }

}

@media (max-width: 767px) {

    .cpel-switcher--mobile-align-right .cpel-switcher__list {
        margin-left: auto;
        margin-right: 0;
    }

    .cpel-switcher--mobile-align-right .cpel-switcher__list>li>a {
        justify-content: flex-end;
    }

    .cpel-switcher--mobile-align-left .cpel-switcher__list {
        margin-left: 0;
        margin-right: auto;
    }

    .cpel-switcher--mobile-align-left .cpel-switcher__list>li>a {
        justify-content: flex-start;
    }

    .cpel-switcher--mobile-align-center .cpel-switcher__list {
        margin-left: auto;
        margin-right: auto;
    }

    .cpel-switcher--mobile-align-center .cpel-switcher__list>li>a {
        justify-content: center;
    }

    .cpel-switcher--mobile-align-justify .cpel-switcher__list {
        width: 100%;
    }

    .cpel-switcher--mobile-align-justify .cpel-switcher__list>li {
        flex-grow: 1;
    }

    .cpel-switcher--mobile-align-justify .cpel-switcher__list>li>a {
        justify-content: center;
    }

}

.cpel-switcher__flag {
    display: inline-block;
    aspect-ratio: 4/3;
}

.cpel-switcher--aspect-ratio-11 .cpel-switcher__flag {
    aspect-ratio: 1/1;
}

/* TODO: aspect-ratio fallback */
@supports not (aspect-ratio: 4/3) {
    .cpel-switcher__flag {
        position: relative;
        height: 0;
        padding-top: 75%;
        overflow: hidden;
    }

    .cpel-switcher--aspect-ratio-11 .cpel-switcher__flag {
        padding-top: 100%;
    }
}

/* Flag relation 1:1 focus */
.cpel-switcher__flag img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cpel-switcher__flag--ai img,
.cpel-switcher__flag--au img,
.cpel-switcher__flag--aw img,
.cpel-switcher__flag--bm img,
.cpel-switcher__flag--bs img,
.cpel-switcher__flag--by img,
.cpel-switcher__flag--cd img,
.cpel-switcher__flag--ck img,
.cpel-switcher__flag--cl img,
.cpel-switcher__flag--cn img,
.cpel-switcher__flag--cu img,
.cpel-switcher__flag--cz img,
.cpel-switcher__flag--dj img,
.cpel-switcher__flag--er img,
.cpel-switcher__flag--esperanto img,
.cpel-switcher__flag--es img,
.cpel-switcher__flag--fj img,
.cpel-switcher__flag--fk img,
.cpel-switcher__flag--gq img,
.cpel-switcher__flag--gr img,
.cpel-switcher__flag--gs img,
.cpel-switcher__flag--gw img,
.cpel-switcher__flag--gy img,
.cpel-switcher__flag--hm img,
.cpel-switcher__flag--io img,
.cpel-switcher__flag--jo img,
.cpel-switcher__flag--km img,
.cpel-switcher__flag--kw img,
.cpel-switcher__flag--ky img,
.cpel-switcher__flag--kz img,
.cpel-switcher__flag--lk img,
.cpel-switcher__flag--lr img,
.cpel-switcher__flag--mg img,
.cpel-switcher__flag--mh img,
.cpel-switcher__flag--ms img,
.cpel-switcher__flag--my img,
.cpel-switcher__flag--mz img,
.cpel-switcher__flag--na img,
.cpel-switcher__flag--np img,
.cpel-switcher__flag--nu img,
.cpel-switcher__flag--nz img,
.cpel-switcher__flag--om img,
.cpel-switcher__flag--ph img,
.cpel-switcher__flag--pm img,
.cpel-switcher__flag--pn img,
.cpel-switcher__flag--pr img,
.cpel-switcher__flag--ps img,
.cpel-switcher__flag--sb img,
.cpel-switcher__flag--sc img,
.cpel-switcher__flag--sd img,
.cpel-switcher__flag--sg img,
.cpel-switcher__flag--sh img,
.cpel-switcher__flag--sk img,
.cpel-switcher__flag--ss img,
.cpel-switcher__flag--st img,
.cpel-switcher__flag--tc img,
.cpel-switcher__flag--tf img,
.cpel-switcher__flag--tg img,
.cpel-switcher__flag--tk img,
.cpel-switcher__flag--tl img,
.cpel-switcher__flag--to img,
.cpel-switcher__flag--tv img,
.cpel-switcher__flag--tw img,
.cpel-switcher__flag--us img,
.cpel-switcher__flag--uy img,
.cpel-switcher__flag--uz img,
.cpel-switcher__flag--vg img,
.cpel-switcher__flag--vu img,
.cpel-switcher__flag--za img,
.cpel-switcher__flag--ws img,
.cpel-switcher__flag--zw img {
    object-position: left;
}

.cpel-switcher__flag--eh img,
.cpel-switcher__flag--tm img {
    object-position: 20%;
}

.cpel-switcher__flag--ai img,
.cpel-switcher__flag--au img,
.cpel-switcher__flag--bm img,
.cpel-switcher__flag--ck img,
.cpel-switcher__flag--fj img,
.cpel-switcher__flag--fk img,
.cpel-switcher__flag--gs img,
.cpel-switcher__flag--hm img,
.cpel-switcher__flag--io img,
.cpel-switcher__flag--ky img,
.cpel-switcher__flag--ms img,
.cpel-switcher__flag--nu img,
.cpel-switcher__flag--nz img,
.cpel-switcher__flag--pn img,
.cpel-switcher__flag--sh img,
.cpel-switcher__flag--tc img,
.cpel-switcher__flag--tf img,
.cpel-switcher__flag--tv img,
.cpel-switcher__flag--vg img {
    object-position: 75%;
}

.cpel-switcher__flag--as img,
.cpel-switcher__flag--zm img {
    object-position: right;
}